.footer__wrapper {
  grid-area: footer;
  width: 100%;
  padding: 15px;
  border-top: solid 1px #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: space-around;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__title, .footer__contact {
  font-size: 1.2rem;
  flex-direction: column;
}

.footer__link {
  flex-direction: row;
}
