.navbar__wrapper {
  grid-area: navbar;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  display: flex;
  background-color: #fff;
  z-index: 10;
}

.navbar__links {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.navbar__link {
  margin: 0 10px;
  color: rgba($color: #000, $alpha: 0.5);

  &:first-child {
    margin-left: auto;
  }

  &[data-active="true"] {
    font-weight: bold;
    color: rgba($color: #000, $alpha: 1);
  }
}
