# Dependency directory
node_modules

# Environment
.env

# OSX
.DS_Store

# App packaged
build

# Compiled binary addons
.eslintcache

# flow-typed
flow-typed/npm/*
!flow-typed/npm/module_vx.x.x.js

# vscode
.vscode

# yarn
yarn-error.log
