.links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(257, 257, 257, 0.9);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  overflow: hidden;
  display: flex;

  @media (min-width: 1px) and (max-width: 767px) {
    max-height: 60px;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 768px) and (max-width: 999999px) {
    max-height: 80px;
    align-items: center;
    justify-content: space-between;
  }
}

.link {
  flex: 0 0 auto;
  margin: 20px 15px;
  font-size: 1.3rem;

  &.active {
    border-bottom: 1px solid;
  }

  &::before {
    content: attr(id);
  }

  &:first-child {
    margin-right: auto;
  }
}


.hamburger-wrapper {
  position: fixed;
  height: 25px;
  width: 25px;
  top: 20px;
  left: 20px;

  * {
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
  }

  input[type=checkbox] {
    display: none;
  }

  label {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 99;
  }

  .spinner {
    position: relative;
    float: left;
    height: 3px;
    width: 100%;
    background-color: #606060;

    @media (min-width: 1px) and (max-width: 767px) {
      display: auto;
    }
    @media (min-width: 768px) and (max-width: 999999px) {
      display: none;
    }
  }

  .horizontal {
    margin-top: 7px;
  }

  .diagonal.part2 {
    margin-top: 6px;
  }

  .dummy {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
  }

  input[type=checkbox]:checked ~ .hamburger > .dummy {
    display: block;
  }

  input[type=checkbox]:checked ~ .hamburger > .horizontal {
    opacity: 0;
  }

  input[type=checkbox]:checked ~ .hamburger > .diagonal.part1 {
    transform: rotate(135deg);
    margin-top: 9px;
  }

  input[type=checkbox]:checked ~ .hamburger > .diagonal.part2 {
    transform: rotate(-135deg);
    margin-top: -13px;
  }

  input[type=checkbox]:checked ~ .hamburger > .links {
    max-height: 100vh;
  }
}
